
@font-face {
    font-family: "HelveticaLt";
    src: local("HelveticaLt"),
     url(./Assets/fonts/HelveticaLt.ttf) format("truetype");
    /* font-weight: bold; */
}
@font-face {
    font-family: "HelveticaLight";
    src: local("HelveticaLight"),
     url(./Assets/fonts/Helvetica-Light.ttf) format("truetype");
    /* font-weight: bold; */
}

@font-face {
    font-family: "RobotoLight";
    src: local("RobotoLight"),
     url(./Assets/fonts/Roboto-Light.ttf) format("truetype");
    /* font-weight: bold; */
}@font-face {
    font-family: "RobotoBold";
    src: local("RobotoBold"),
     url(./Assets/fonts/Roboto-Bold.ttf) format("truetype");
    /* font-weight: bold; */
}@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
     url(./Assets/fonts/Roboto-Regular.ttf) format("truetype");
    /* font-weight: bold; */
}